/*-------------------------*/
/* +FORMATTING             */        
/*-------------------------*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/btn-icomoon.eot');
	src:url('fonts/btn-icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/btn-icomoon.woff') format('woff'),
		url('fonts/btn-icomoon.ttf') format('truetype'),
		url('fonts/btn-icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.btn {
	padding: .6em .9em;
	display: inline;
	zoom: 1;
	display: inline-block;
	font-family: Arial, Sans-serif;
	@include fs(16);
	text-decoration: none;
	text-shadow: 1px 1px 0 #111;
	color: #fff;
	background: #282828;
	background: -webkit-linear-gradient(top, rgba(3, 3, 3, 1) 1%, rgba(40, 40, 40, 1) 100%);
	background: -moz-linear-gradient(top, rgba(3, 3, 3, 1) 1%, rgba(40, 40, 40, 1) 100%);
	background: linear-gradient(top, rgba(3, 3, 3, 1) 1%, rgba(40, 40, 40, 1) 100%);
	border: 1px solid #111;
	@include rounded (.3em);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .8) inset, 0 3px 0 #111;
	box-shadow: 0 0 1px rgba(255, 255, 255, .8) inset, 0 3px 0 #111;
	cursor: pointer;
	-webkit-appearance: none;
	
	&:active {
		position: relative;
		top: 2px;
		-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .8) inset, 0 1px 0 #111;
		box-shadow: 0 0 1px rgba(255, 255, 255, .8) inset, 0 1px 0 #111;
	}
}

.btn-white, .btn-github {
	color: #555;
	text-shadow: -1px -1px 0 #fff;
	background: #fff;
	background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1) 1%, rgba(255, 255, 255, 1) 100%);
	background: -moz-linear-gradient(top, rgba(245, 245, 245, 1) 1%, rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(top, rgba(245, 245, 245, 1) 1%, rgba(255, 255, 255, 1) 100%);
	border: 1px solid darken(#eee, 10%);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#eee, 10%);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#eee, 10%);

	&:active {
		position: relative;
		top: 2px;
		-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#eee, 10%);
		box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#eee, 10%);
	}	
}

.btn-info, .btn-info-1, .btn-info-2 {
	color: #fff;
	text-shadow: 1px 1px 0 darken(#3498db, 15%);
	background: #3498db;
	background: -webkit-linear-gradient(top, rgba(37, 140, 209, 1) 1%, rgba(52, 152, 219, 1) 100%);
	background: -moz-linear-gradient(top, rgba(37, 140, 209, 1) 1%, rgba(52, 152, 219, 1) 100%);
	background: linear-gradient(top, rgba(37, 140, 209, 1) 1%, rgba(52, 152, 219, 1) 100%);
	border: 1px solid darken(#3498db, 10%);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#3498db, 10%);
	box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#3498db, 10%);
	
	&:active {
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#3498db, 10%);
	box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#3498db, 10%);
	}
}

.btn-ok, .btn-ok-1, .btn-ok-2 {
	color: #fff;
	text-shadow: 1px 1px 0 darken(#27ae60, 15%);
	background: #27ae60;
	background: -webkit-linear-gradient(top, rgba(34, 153, 85, 1) 1%, rgba(39, 174, 96, 1) 100%);
	background: -moz-linear-gradient(top, rgba(34, 153, 85, 1) 1%, rgba(39, 174, 96, 1) 100%);
	background: linear-gradient(top, rgba(34, 153, 85, 1) 1%, rgba(39, 174, 96, 1) 100%);
	border: 1px solid darken(#27ae60, 10%);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#27ae60, 10%);
	box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#27ae60, 10%);
	
	&:active {
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#27ae60, 10%);
	box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#27ae60, 10%);
	}
}

.btn-warning, .btn-warning-1, .btn-warning-2 {
	color: #fff;
	text-shadow: 1px 1px 0 darken(#d35400, 15%);
	background: #d35400;
	background: -webkit-linear-gradient(top, rgba(185, 64, 0, 1) 1%, rgba(211, 84, 0, 1) 100%);
	background: -moz-linear-gradient(top, rgba(185, 64, 0, 1) 1%, rgba(211, 84, 0, 1) 100%);
	background: linear-gradient(top, rgba(185, 64, 0, 1) 1%, rgba(211, 84, 0, 1) 100%);
	border: 1px solid darken(#d35400, 10%);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#d35400, 10%);
	box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#d35400, 10%);

	&:active {
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#d35400, 10%);
	box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#d35400, 10%);
	}
}

.btn-error, .btn-error-1, .btn-error-2 {
	color: #fff;
	text-shadow: 1px 1px 0 darken(#be1818, 15%);
	background: #be1818;
	background: -webkit-linear-gradient(top, rgba(167, 21, 21, 1) 1%, rgba(190, 24, 24, 1) 100%);
	background: -moz-linear-gradient(top, rgba(167, 21, 21, 1) 1%, rgba(190, 24, 24, 1) 100%);
	background: linear-gradient(top, rgba(167, 21, 21, 1) 1%, rgba(190, 24, 24, 1) 100%);
	border: 1px solid darken(#be1818, 10%);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#be1818, 10%);
	box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#be1818, 10%);

	&:active {
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#be1818, 10%);
	box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#be1818, 10%);
	}
}

.btn-info-1, .btn-ok-1, .btn-warning-1, .btn-error-1, .btn-info-2, .btn-ok-2, .btn-warning-2, .btn-error-2, .btn-chrome, .btn-firefox, .btn-ie, .btn-safari, .btn-opera, .btn-windows, .btn-apple, .btn-facebook, .btn-twitter, .btn-google, .btn-github, .btn-reload, .btn-download, .btn-add, .btn-remove, .btn-cancel, .btn-delete, .btn-power, .btn-search, .btn-basket, .btn-password, .btn-options, .btn-favorite, .btn-logoff, .btn-volume, .btn-mute, .btn-attach {

	&:before {
		margin-right: 0.5em;
		position: relative;
		top: .05em;
		font-family: icomoon; 
	}
}

.btn-info-1:before {
	content: '\e002';
}

.btn-ok-1:before {
	content: '\e001';
}

.btn-warning-1:before {
	content: '\e003';
}

.btn-error-1:before {
	content: '\e000';
}

.btn-info-2:before {
	content: '\e007';
}

.btn-ok-2:before {
	content: '\e004';
}

.btn-warning-2:before {
	content: '\e005';
}

.btn-error-2:before {
	content: '\e006';
}

.btn-chrome, .btn-firefox, .btn-ie, .btn-safari, .btn-opera, .btn-windows, .btn-apple {
	color: #777;
	text-shadow: -1px -1px 0 #fff;
	background: #fff;
	background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1) 1%, rgba(255, 255, 255, 1) 100%);
	background: -moz-linear-gradient(top, rgba(245, 245, 245, 1) 1%, rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(top, rgba(245, 245, 245, 1) 1%, rgba(255, 255, 255, 1) 100%);
	border: 1px solid darken(#eee, 10%);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#eee, 10%);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#eee, 10%);

	&:active {
		position: relative;
		top: 2px;
		-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#eee, 10%);
		box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#eee, 10%);
	}	
}

.btn-chrome:before {
	content: '\e00e';
	color: #e8383a;
}

.btn-firefox:before {
	content: '\e00f';
	color: #ed7c2e;
}

.btn-ie:before {
	content: '\e010';
	color: #1399d6;
}

.btn-safari:before {
	content: '\e012';
	color: #31afbd;
}

.btn-opera:before {
	content: '\e011';
	color: #b90b0b;
}

.btn-windows:before {
	content: '\e00c';
	color: #00adf1;
}

.btn-apple:before {
	content: '\e00d';
	color: #bbb;
}

.btn-facebook {
	text-shadow: 1px 1px 0 darken(#3c599b, 15%);
	background: #3c599b;
	background: -webkit-linear-gradient(top, rgba(46, 68, 118, 1) 1%, rgba(60, 89, 155, 1) 100%);
	background: -moz-linear-gradient(top, rgba(46, 68, 118, 1) 1%, rgba(60, 89, 155, 1) 100%);
	background: linear-gradient(top, rgba(46, 68, 118, 1) 1%, rgba(60, 89, 155, 1) 100%);
	border: 1px solid darken(#3c599b, 10%);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#3c599b, 10%);
	box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#3c599b, 10%);
	
	&:active {
		-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#3c599b, 10%);
		box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#3c599b, 10%);
	}

	&:before {
		content: '\e009';
	}
}

.btn-twitter {
	text-shadow: 1px 1px 0 darken(#00acee, 15%);
	background: #00acee;
	background: -webkit-linear-gradient(top, rgba(0, 135, 187, 1) 1%, rgba(0, 172, 238, 1) 100%);
	background: -moz-linear-gradient(top, rgba(0, 135, 187, 1) 1%, rgba(0, 172, 238, 1) 100%);
	background: linear-gradient(top, rgba(0, 135, 187, 1) 1%, rgba(0, 172, 238, 1) 100%);
	border: 1px solid darken(#00acee, 10%);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#00acee, 10%);
	box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#00acee, 10%);
	
	&:active {
		-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#00acee, 10%);
		box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#00acee, 10%);
	}

	&:before {
		content: '\e00a';
	}
}

.btn-google {
	text-shadow: 1px 1px 0 darken(#bf3729, 15%);
	background: #bf3729;
	background: -webkit-linear-gradient(top, rgba(149, 43, 32, 1) 1%, rgba(191, 55, 41, 1) 100%);
	background: -moz-linear-gradient(top, rgba(149, 43, 32, 1) 1%, rgba(191, 55, 41, 1) 100%);
	background: linear-gradient(top, rgba(149, 43, 32, 1) 1%, rgba(191, 55, 41, 1) 100%);
	border: 1px solid darken(#bf3729, 10%);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#bf3729, 10%);
	box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 3px 0 darken(#bf3729, 10%);
	
	&:active {
		-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#bf3729, 10%);
		box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 0 darken(#bf3729, 10%);
	}

	&:before {
		content: '\e008';
	}
}

.btn-github:before {
	content: '\e00b';
}

.btn-reload:before {
	content: '\e013';
}

.btn-download:before {
	content: '\e014';
}

.btn-add:before {
	content: '\e015';
}

.btn-remove:before {
	content: '\e016';
}

.btn-cancel:before {
	content: '\e017';
}

.btn-delete:before {
	content: '\e019';
}

.btn-power:before {
	content: '\e018';
}

.btn-search:before {
	content: '\e01a';
}

.btn-basket:before {
	content: '\e01b';
}

.btn-password:before {
	content: '\e01c';
}

.btn-options:before {
	content: '\e01d';
}

.btn-favorite:before {
	content: '\e01e';
}

.btn-logoff:before {
	content: '\e01f';
}

.btn-volume:before {
	content: '\e020';
}

.btn-mute:before {
	content: '\e021';
}

.btn-attach:before {
	content: '\e022';
}

.btn-small {
	@include fs(12);
}

.btn-xsmall {
	@include fs(10);
}

.btn-large {
	@include fs(20);
}

.btn-xlarge {
	@include fs(24);
}