/*-------------------------*/
/* +FORMATTING             */
/*-------------------------*/

// Headings default size
h1 {font-size: 2.5em;}
h2 {font-size: 2em;}
h3 {font-size: 1.8em;}
h4 {font-size: 1.6em;}
h5 {font-size: 1.4em;}
h6 {font-size: 1.2em;}

// Body text default size and line height
blockquote, caption, li, p, pre, td, textarea, th {
	font-size: 1em;
	line-height: 1.5;
}

// Lists styling
ul, ol {
	padding-left: 2em;
}

ul {
	list-style-type: square;
}

// Elegant solutions to break words
code, div, p, pre, table, td, textarea, th, samp {
	word-wrap: break-word;
	hyphens: auto;
}

code, pre, samp {
	white-space: pre-wrap;
}

// Text aligned to the left by default, remove spaces between cells
table {
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
}

// Add a light styling to the table
th {
	padding: .5em 0;
}

td {
	padding: .5em 0;
	border-top: 1px solid #ccc;
}

// Text truncate
.ellip {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Styling for texts: warning message, error message...
.red-txt {color: $red;}
.orange-txt {color: $orange;}
.green-txt {color: $green;}
.blue-txt {color: $blue;}

// Colors for buttons, blocks etc.
.black {background: #000;}
.dark {
	background: #333;
	&:hover, &:focus {background: darken(#333, 5%);}
}
.red {
	background: $red;
	&:hover, &:focus {background: darken($red, 5%);}
}
.orange {
	background: $orange;
	&:hover, &:focus {background: darken($orange, 5%);}
}
.yellow {
	background: #ddb705;
	&:hover, &:focus {background: darken(#ddb705, 5%);}
}
.green {
	background: $green;
	&:hover, &:focus {background: darken($green, 5%);}
}
.blue {
	background: $blue;

	&:hover, &:focus {background: darken($blue, 5%);}
}
