/*-------------------------*/
/* +GRID                   */
/*-------------------------*/

// Container for each row
.fx-row {
  margin-top: -($fx-grid-gutter) + px;
  margin-left: -($fx-grid-gutter / 2) + px;
  margin-right: -($fx-grid-gutter / 2) + px;
  display: flex;
  flex-wrap: wrap;

  + .fx-row {
    margin-top: 0;
  }
}

// Alignement of items. Use with .fx-row
@each $position, $value in $fx-row-position {
  .fx-row-#{$position}-xs {
    justify-content: $value;
  }
}

@each $breakpoint, $value in $fx-grid-breakpoints {
  @include fx-bp($value) {
    @each $position, $value in $fx-row-position {
      .fx-row-#{$position}-#{$breakpoint} {
        justify-content: $value;
      }
    }
  }
}

// Reversed row. Use with .fx-row
.fx-row-reverse-xs {
  flex-direction: row-reverse;
}

@each $breakpoint, $value in $fx-grid-breakpoints {
  @include fx-bp($value) {
    .fx-row-reverse-#{$breakpoint} {
      flex-direction: row-reverse;
    }
  }
}

// Global settings for columns
[class*="fx-col"] {
  margin-top: $fx-grid-gutter + px;
  padding-left: ($fx-grid-gutter / 2) + px;
  padding-right: ($fx-grid-gutter / 2) + px;
  flex-grow: 1;
}

// Different column sizes
@each $size in $fx-column-sizes {
	$roundsize: floor($size);
	.fx-col-#{$roundsize}-xs {
    flex-basis: #{$size}%;
    max-width: #{$size}%;
	}
}

@each $breakpoint, $value in $fx-grid-breakpoints {
  @include fx-bp($value) {
  	@each $size in $fx-column-sizes {
  		$roundsize: floor($size);
  		.fx-col-#{$roundsize}-#{$breakpoint} {
        flex-basis: #{$size}%;
        max-width: #{$size}%;
  		}
  	}
  }
}

// Align item to the top, center, or bottom
@each $position, $value in $fx-col-position {
  .fx-col-#{$position}-xs {
    align-self: $value;
  }
}

@each $breakpoint, $value in $fx-grid-breakpoints {
  @include fx-bp($value) {
    @each $position, $value in $fx-col-position {
      .fx-col-#{$position}-#{$breakpoint} {
        align-self: $value;
      }
    }
  }
}
