/*-------------------------*/
/* +IE SUPPORT             */
/*-------------------------*/
// Use this along with HTML conditional classes
// want to know more? http://bit.ly/SElemi

// Inline-block support
.ie7 .inlineb, .ie7 .grid li, .ie7 .grid div {
	display: inline;
	zoom: 1;
}

.ie7 .r10, .ie7 .r20, .ie7 .r25, .ie7 .r30, .ie7 .r33, .ie7 .r40, .ie7 .r50, .ie7 .r60, .ie7 .r66, .ie7 .r70, .ie7 .r80, .ie7 .r50-25, .ie7 .r50-33, .ie7 .r33-33, .ie7 .r66-33, .ie7 .r100-33 {
	display: inline;
	zoom: 1;
}

.ie8 .r10, .ie8 .r20, .ie8 .r25, .ie8 .r30, .ie8 .r33, .ie8 .r40, .ie8 .r50, .ie8 .r60, .ie8 .r66, .ie8 .r70, .ie8 .r80, .ie8 .r50-25, .ie8 .r50-33, .ie8 .r33-33, .ie8 .r66-33, .ie8 .r100-33  {
	display:inline-block;
}

.ie7 .r10, .ie8 .r10 {width: 10%;}
.ie7 .r20, .ie8 .r20 {width: 20%;}
.ie7 .r25, .ie8 .r25 {width: 25%;}
.ie7 .r30, .ie8 .r30 {width: 30%;}
.ie7 .r33, .ie8 .r33 {width: 33.333333%;}
.ie7 .r40, .ie8 .r40 {width: 40%;}
.ie7 .r50, .ie8 .r50 {width: 50%;}
.ie7 .r60, .ie8 .r60 {width: 60%;}
.ie7 .r66, .ie8 .r66 {width: 66.666666%;}
.ie7 .r70, .ie8 .r70 {width: 70%;}
.ie7 .r75, .ie8 .r75 {width: 75%;}
.ie7 .r80, .ie8 .r80 {width: 80%;}

.ie7 .r50-25, .ie8 .r50-25 {width: 25%;}
.ie7 .r50-33, .ie8 .r50-33 {width: 33.333333%;}
.ie7 .r33-33, .ie8 .r33-33 {width: 33.333333%;}
.ie7 .r66-33, .ie8 .r66-33 {width: 33.333333%;}
.ie7 .r100-33, .ie8 .r100-33 {width: 33.333333%;}

.ie8 img {width: auto;}