/*-------------------------*/
/* +LAYOUTS                */        
/*-------------------------*/

// Display HTML5 elements as blocks for old browsers
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

// No more annoying padding+width calculations...
// For IE7: box-sizing polyfill https://github.com/Schepp/box-sizing-polyfill
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(scripts/boxsizing.htc);
}

// Align a block to the left
.left {
	float: left;
}

// Align a block to the right
.right {
	float: right;
}

// Center a block
.center {
	margin: auto;
}

// Text align
.txt-left {
	text-align: left;
}

.txt-right {
	text-align: right;
}

.txt-center {
	text-align: center;
}

// Inline elements
.inline {
	display:inline;
}

// Inline-block elements
.inlineb {
	display:inline-block;
}

// Use this after floated elements
.clear {
	clear: both;
}

// Blocks that contain floats
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

// Use this class to hide elements for screens
.hidden {
	position: absolute;
	left: -9999px;
	text-indent: -9999px;
	overflow: hidden;
}

// Use this classe to remove elements from your page on 'mobile first' designs
// Display on larger screens with display: block; as an example
.no-display {
	display: none;
}

// Percentage based columns
.p10 {width: 10%;}
.p20 {width: 20%;}
.p25 {width: 25%;}
.p30 {width: 30%;}
.p33 {width: 33.333333%;}
.p40 {width: 40%;}
.p50 {width: 50%;}
.p60 {width: 60%;}
.p66 {width: 66.666666%;}
.p70 {width: 70%;}
.p75 {width: 75%;}
.p80 {width: 80%;}
.p90 {width: 90%;}
.p100 {width: 100%;}

// Pixel based columns
.px100 {width: 100px;}
.px200 {width: 200px;}
.px300 {width: 300px;}
.px400 {width: 400px;}
.px500 {width: 500px;}
.px600 {width: 600px;}
.px700 {width: 700px;}
.px800 {width: 800px;}
.px900 {width: 900px;}
.px960 {width: 960px;}

// Grid built with text-align: justify
// Font-size needs to be set to 0.1px in order to remove white space between elements
// Don't forget to put it back to a normal size on child element
// One important thing to keep in mind: when you can't control the number of elements on the last line of the grid, make sure to use placeholders elements
.grid {
	text-align: justify;
	font-size: 0.1px;
}

// Opera fix
@media (min-resolution: .001dpcm) {

.grid {
	font-size: inherit;
	line-height: 0;
}

}

// Use this for IE8+ support
.grid:after {
	content: '';
	display: inline-block;
	width: 100%;
}

// Use this class only if you need IE7 support
.grid .break {
	width: 100%;
	height: 0;
}

// You can use the following sizes if you want:
// 2 columns = 48% / margin-bottom = 4%
// 3 columns = 31% / margin-bottom = 3%
// 4 columns = 23% / margin-bottom = 2.5%
// 5 columns = 18% / margin-bottom = 2.5%
.grid > li, .grid > div {
	display: inline-block;
}