// Most mixins come from Web Design Weekly
// http://web-design-weekly.com/2013/05/12/handy-sass-mixins/

// Media queries
@mixin bp($point) {
    @media screen and (min-width: $point / 16 + em) { @content; }
}

@mixin bpmax($point) {
    @media screen and (max-width: $point / 16 + em) { @content; }
}

// Font size & line-height
@mixin fs($fontsize: 16, $fontbase: 16) {
  font-size: $fontsize + px;
  font-size: ($fontsize / $fontbase) * 1rem;
}

@mixin lh($heightvalue: 16, $heightbase: 16) {
  font-size: $heightvalue + px;
  font-size: ($heightvalue / $heightbase) * 1rem;
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// Horizontal nav list
@mixin nav-list {
  list-style-type:none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  > li {
    display: block;
    float: left;
    &:last-child {
    margin-right: 0px;
    }
  }
}

// Retina images
@mixin image-2x($image, $width, $height) {
  @media (-moz-min-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    // on retina, use image that's scaled by 2
    background-image: url($image);
    background-size: $width $height;
  }
}

// Clearfix
@mixin cf() {
    & {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Radius
@mixin rounded($radius: 10px) {
  -webkit-border-radius: $radius; 
  border-radius: $radius;
}

// Text truncate

@mixin ellip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}