/*-------------------------*/
/* +RESPONSIVE LAYOUTS     */
/*-------------------------*/

// These columns will switch to a one-column template under 640px
@media screen and (min-width: 40em) {

.r10 {width: 10%;}
.r20 {width: 20%;}
.r25 {width: 25%;}
.r30 {width: 30%;}
.r33 {width: 33.333333%;}
.r40 {width: 40%;}
.r50 {width: 50%;}
.r60 {width: 60%;}
.r66 {width: 66.666666%;}
.r70 {width: 70%;}
.r75 {width: 75%;}
.r80 {width: 80%;}

// These columns have two % sizes above 640px:
//	- first number is between 640 and 959px
//	- second is above 959px
.r50-25 {width: 50%;}
.r50-33 {width: 50%;}
.r33-33 {width: 33.333333%;}
.r66-33 {width: 66.666666%;}

.r10, .r20, .r25, .r30, .r33, .r40, .r50, .r60, .r66, .r70, .r80, .r50-25, .r50-33, .r33-33, .r66-33 {
	display:inline-block;
}

}

@media screen and (min-width: 60em) {

// These columns have two % sizes above 640px:
//	- first number is between 640 and 959px
//	- second is above 959px
.r50-25 {width: 25%;}
.r50-33 {width: 33.333333%;}
.r33-33 {width: 33.333333%;}
.r66-33 {width: 33.333333%;}
.r100-33 {width: 33.333333%; display: inline-block; vertical-align: top;}

}