/*-------------------------*/
/* +RESET AND NORMALIZE    */
/*-------------------------*/

// iOS orientation change bug fix
html, body {
	-webkit-text-size-adjust: 100%;
}

// Default body styling
body {
	font-family: Arial, Helvetica, Sans-serif;
	color: #000;
	background: #fff;
}

// Light reset
html, body, blockquote, form {
	margin: 0;
	padding: 0;
}

// Add a max size and give auto height resize
blockquote, code, embed, iframe, img, input, object, pre, table, td, textarea, video {
	max-width: 100%;
	height: auto;
}

// Remove unwanted borders
a img, form, fieldset {
	border: none;
}

// Light form styling
input, button, select {
	vertical-align: middle;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

// Consistency between browsers
abbr {
	cursor: help;
	border-bottom: 1px dotted #bbb;
}

// Fix for IE8-9 & Safari 5
figure {
	margin: 1em 40px;
}

// Fix for IE8-9
audio, canvas, progress, video {
	display: inline-block;
}

// Give child elements their parents size
blockquote p, button, input, li h1, li h2, li h3, li h4, li h5, li h6, li li, li p, select, td p, th p {
	font-size: 100%;
}

// Browsers consistency
small {
	font-size: 80%;
}

// Consistency: Firefox 4+, Safari 5, and Chrome
b, strong {
	font-weight: bold;
}

// Consistency: Safari 5 and Chrome
code, kbd, pre, samp {
	font-family: Monospace, Serif;
}

// Sub & sup fix for line-height
sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}