body {
	margin: 0 auto;
	padding: 0 1em 0;
	max-width: 1000px;
}

h1 {
	margin: 1em auto;
	padding-bottom: 1em;
	max-width: 500px;
	border-bottom: 1px solid #eee;
}

table {width: 100%;}


.left, .r80, .r20, .r50, .p20, .demo .r50-33, .dark, .custom {
	padding: 5em 0;
	text-align: center;
	color: #fff;
}

.demo p, .demo small {text-shadow: none;}

.demo h2 {
	margin: 1.5em 0 0 0;
	padding-bottom: .5em;
	border-bottom: 1px dotted #ccc;
}

.demo h2:first-child {margin-top: 0;}

.demo ul {margin: 1em 0; font-size: 120%;}

.demo table {
	font-size: 120%;
}

.demo .table {color: #fff;}

.p80, .p25, .p20, .p33, .p50, .r80, .r20, .r50, .r50-25, .r50-33, .r33-33, .r66-33, .r100-33 {border: 1px solid #fff;}

.inlineb:hover, .r80:hover, .r20:hover, .r50:hover, .left:hover, .custom:hover, .r50-25:hover, .r50-33:hover, .r33-33:hover, .r66-33:hover, .r100-33:hover {
	border: 1px solid #fff;
}

.ie7 h1 img, .ie8 h1 img {
	vertical-align: -.5em;
	margin-right: .5em;
	display: inline;	
}

.ie7 .less, .ie8 .less {display: none;}

.grid li {
	margin-bottom: 4%;
	padding-bottom: 48%;
	width: 48%;
	background: #ccc;
}

.grid .placeholder {
	margin-bottom: 0;
	padding-bottom: 0;
}

@media screen and (min-width: 641px) {

.less {display: none;}

.grid li {
	margin-bottom: 3%;
	padding-bottom: 31%;
	width: 31%;
}

}

@media screen and (min-width: 800px) {

.grid li {
	margin-bottom: 2.5%;
	padding-bottom: 23%;
	width: 23%;
}

}

@media screen and (max-width: 640px) {

.more {display: none;}

}

@media screen and (min-width: 960px) {

.more {display: none;}

.grid li {
	margin-bottom: 2.5%;
	padding-bottom: 18%;
	width: 18%;
}

}

@media screen and (max-width: 959px) {

.emore {display: none;}

}

.ie7 .less, .ie7 .more, .ie8 .less, .ie8 .more {display: none;}